@model EasyFitHub.Models.Plan.PlanMeal
@{
    ViewData["Title"] = "CreateItem";
}

@*
    Author: Rui Barroso
    View destinada à criaçao de Meal Plans
*@
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/ItemEdit.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontsource-inter@4">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap">
    <link rel="stylesheet" href="~/css/ImagePicker.css" />
    <script src="~/js/ImagePicker.js"></script>
    <script src="~/js/ItemEdit.js"></script>
</head>
@section Header {
    <div class="navbar2">
        <a href="@Url.Action("Plan", new {userId = Model.Plan.Client.UserId , planId = Model.PlanId})"><img class="img2" src="/lib/imagens/Arrow.PNG" /></a>
        <p class="gymClients">Create Meal</p>
    </div>
}
<body>

    <p class="title bigger">@Model.Plan.Title  -  Meal</p>

    <div class="content">

        <div>
            <div id="formDiv">
                <div class="itemImageContainer">
                    <img id="preview" class="itemImage" alt="Item Image" src="/lib/imagens/DefaultMeal.png" />
                </div>
                <br />
                <div class="button-container">
                    <label for="fileInput" class="button2">
                        Pick File
                    </label>

                </div>
            </div>
        </div>
        <br />
        <br />
        <hr class="gray-hr">
        <br />

        <br />
        <div class="items">
            <form method="post" enctype="multipart/form-data" id="itemForm" action="@Url.Action("CreateMeal", "Plans")">
                <input type="hidden" name="userId" value="@Model.Plan.Client.UserId" />
                <input type="hidden" name="planId" value="@Model.PlanId" />
                <input type="file" name="file" id="fileInput" accept="image/*" onchange="previewImage(event)" />
                <input asp-for="Name" type="text" placeholder="Name: " class="textBox" />
                @{
                    var count = @Model.Description.Length;
                    string size = double.Floor(count / 2.5) + "px";

                    <textarea asp-for="Description" placeholder="Description" class="textArea" style="height:@size;"></textarea>
                }
                <br />
                <hr class="gray-hr">
                <br />
                <button class="button" type="submit">Apply</button>
            </form>
            <br />
            <br />
            <button class="button" onclick="cancelChanges()">Cancel</button>
        </div>
    </div>
</body>


@section Scripts {
    @{
        string? resultMessage = @TempData["ResultMessage"] as string;
        <script>
            var defaultSrc = "/lib/imagens/DefaultMeal.png";
            var images = [];

            if (image) images.push(image);

            function actionAlert() {
                var message = @Html.Raw(Json.Serialize(resultMessage));

                if (message) {
                    alert(message);
                }
            }
        </script>
    }
}