@model EasyFitHub.Models.Plan.PlanMeal
@{
    ViewData["Title"] = "Meal";
}
@*
    Author: Rui Barroso
    View destinada à visualização de Meal Plans
*@

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/ItemEdit.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontsource-inter@4">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap">
    <script src="~/js/Items.js"></script>
</head>
@section Header {
    <div class="navbar2">
        <a href="@Url.Action("Plan", new {userId = Model.Plan.Client.UserId , planId = Model.PlanId})"><img class="img2" src="/lib/imagens/Arrow.PNG" /></a>
        <p class="gymClients">Meal</p>
    </div>
}
<body>
    <p class="title bigger">@Model.Plan.Title  -  Meal</p>

    <div class="content">
        @if (Model != null)
        {
            @if (Model.HubImage != null && Model.HubImage.Path != null)
            {
                <img class="itemImage" src="@Model.HubImage.Path" />
            }
            else
            {
                <img class="itemImage" src="/lib/imagens/DefaultMeal.png" />
            }
            <hr class="gray-hr">
            <br />

            <br />
            <div class="items">
                <input readonly="readonly" type="text" placeholder="@Model.Name" class="textBox" />

                @{
                    var count = @Model.Description.Length;
                    string size = double.Floor(count / 2.5) + "px";

                    <textarea readonly="readonly" placeholder="@Model.Description" class="textArea" style="height:@size;"></textarea>
                }

                <br />
                <hr class="gray-hr">
                <br />
            </div>
        }
        else
        {
            <p>This meal doesn't exist.</p>
        }
    </div>
</body>

@if (TempData["ResultMessage"] != null)
{
    <script>
        window.onload = function () {
            alert('@TempData["ResultMessage"]');
        };
    </script>
}

